<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
	<persistence-unit name="SeaPU">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<jta-data-source>java:/SeaDS</jta-data-source>
 		<properties>
            <property name="hibernate.hbm2ddl.auto" value="validate"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
            
            <!-- Hibernate Search settings -->
			<property name="hibernate.search.default.directory_provider" value="org.hibernate.search.store.FSDirectoryProvider"/>
			<property name="hibernate.search.default.indexBase" value="/Users/nurlan/Dev/tests/lucene/indexes"/>
		</properties>
	</persistence-unit>
</persistence>